In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Extract CSVs into DataFrames

In [16]:
happiness_file = "resources/data/happiness/2017_Happiness.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [8]:
cc_file = "resources/data/happiness/country_codes.csv"
country_code_df = pd.read_csv(cc_file)
country_code_df.head()

          COUNTRY A2 (ISO) A3 (UN)  NUM (UN) DIALING CODE
0     Afghanistan       AF     AFG         4           93
1         Albania       AL     ALB         8          355
2         Algeria       DZ     DZA        12          213
3  American Samoa       AS     ASM        16        1-684
4         Andorra       AD     AND        20          376

In [14]:
json_file = "resources/data/happiness/convertcsv.json"
country_facts_df = pd.read_json(json_file)
country_facts_df.head()

,Agriculture,Arable (%),Area (sq. mi.),Birthrate,Climate,Coastline (coast,Country,Crops (%),Deathrate,GDP ($ per capita),Industry,Infant mortality (per 1000 births),Literacy (%),Net migration,Other (%),Phones (per 1000),Pop. Density (per sq. mi.),Population,Region,Service
0,0.380,12.13,647500,46.60,1.0,{'area ratio)': 0},Afghanistan,0.22,20.34,700.0,0.240,163.07,36.0,23.06,87.65,3.2,48.0,31056997,ASIA (EX. NEAR EAST),0.380
1,0.232,21.09,28748,15.11,3.0,{'area ratio)': 1.26},Albania,4.42,5.22,4500.0,0.188,21.52,86.5,-4.93,74.49,71.2,124.6,3581655,EASTERN EUROPE,0.579
2,0.101,3.22,2381740,17.14,1.0,{'area ratio)': 0.04},Algeria,0.25,4.61,6000.0,0.600,31.00,70.0,-0.39,96.53,78.1,13.8,32930091,NORTHERN AFRICA,0.298
3,NaN,10.00,199,22.46,2.0,{'area ratio)': 58.29},American Samoa,15.00,3.27,8000.0,NaN,9.27,97.0,-20.71,75.00,259.5,290.4,57794,OCEANIA,NaN
4,NaN,2.22,468,8.71,3.0,{'area ratio)': 0},Andorra,0.00,6.25,19000.0,NaN,4.05,100.0,6.60,97.78,497.2,152.1,71201,WESTERN EUROPE,NaN

### Transform World Happiness DataFrame

In [44]:
# Create a filtered dataframe from specific columns
happiness_cols = ["Country", "Happiness.Score", "Economy..GDP.per.Capita.","Family","Health..Life.Expectancy.","Freedom","Generosity","Trust..Government.Corruption.","Dystopia.Residual"]
happiness_transformed= happiness_df[happiness_cols].copy()

# Rename the column headers
happiness_transformed = happiness_transformed.rename(columns={"Happiness.Score": "Happiness_Score",
                                                          "Economy..GDP.per.Capita.": "GDP_Per_Capita_Score",
                                                          "Family": "Family_Score",
                                                          "Health..Life.Expectancy.":"Health_Score",
                                                           "Freedom":"Freedom_Score",
                                                           "Generosity":"Generosity_Score",
                                                           "Trust..Government.Corruption.": "Trust_Govt_Score",
                                                           "Dystopia.Residual":"Dystopia_Score"})

# Clean the data by dropping duplicates and setting the index
happiness_transformed.drop_duplicates("Country", inplace=True)

happiness_transformed.head()

,Country,Happiness_Score,GDP_Per_Capita_Score,Family_Score,Health_Score,Freedom_Score,Generosity_Score,Trust_Govt_Score,Dystopia_Score
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

### Transform Country Facts DataFrame

In [33]:
facts_cols = ["Country", "Region", "Population", "Pop. Density (per sq. mi.)","Area (sq. mi.)","Birthrate","Deathrate"]
country_facts_transformed = country_facts_df[facts_cols].copy()

# Rename the column headers
country_facts_transformed = country_facts_transformed.rename(columns={"Pop. Density (per sq. mi.)": "pop_density",
                                                         "County Name (Licensee)": "county_name",
                                                         "Area (sq. mi.)": "Area_Sq_Miles"})

# Set index

country_facts_transformed.head()

,Country,Region,Population,pop_density,Area_Sq_Miles,Birthrate,Deathrate
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,48.0,647500,46.60,20.34
1,Albania,EASTERN EUROPE,3581655,124.6,28748,15.11,5.22
2,Algeria,NORTHERN AFRICA,32930091,13.8,2381740,17.14,4.61
3,American Samoa,OCEANIA,57794,290.4,199,22.46,3.27
4,Andorra,WESTERN EUROPE,71201,152.1,468,8.71,6.25

### Create database connection

In [27]:
connection_string = "root:Coronad01!@localhost/"
engine = create_engine(f'mysql://{connection_string}')

connection = engine.connect()

In [28]:
connection.execute('create schema happiness_db; ')

In [29]:
connection.happiness_db

AttributeError: 'Connection' object has no attribute 'happiness_db'

In [30]:
db_connection_string = "root:Coronad01!@localhost/happiness_db"
db_engine = create_engine(f'mysql://{db_connection_string}')

# Confirm tables
db_engine.table_names()

[]

### Load DataFrames into database

In [50]:
happiness_transformed.to_sql(name='happiness', con=db_engine, if_exists='append', index=True)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'index' in 'field list'")
[SQL: INSERT INTO happiness (`index`, `Country`, `Happiness_Score`, `GDP_Per_Capita_Score`, `Family_Score`, `Health_Score`, `Freedom_Score`, `Generosity_Score`, `Trust_Govt_Score`, `Dystopia_Score`) VALUES (%(index)s, %(Country)s, %(Happiness_Score)s, %(GDP_Per_Capita_Score)s, %(Family_Score)s, %(Health_Score)s, %(Freedom_Score)s, %(Generosity_Score)s, %(Trust_Govt_Score)s, %(Dystopia_Score)s)]
[parameters: ({'index': 0, 'Country': 'Norway', 'Happiness_Score': 7.537000179290769, 'GDP_Per_Capita_Score': 1.6164631843566901, 'Family_Score': 1.53352355957031, 'Health_Score': 0.796666502952576, 'Freedom_Score': 0.635422587394714, 'Generosity_Score': 0.36201223731041, 'Trust_Govt_Score': 0.31596383452415505, 'Dystopia_Score': 2.27702665328979}, {'index': 1, 'Country': 'Denmark', 'Happiness_Score': 7.52199983596802, 'GDP_Per_Capita_Score': 1.48238301277161, 'Family_Score': 1.55112159252167, 'Health_Score': 0.7925655245780941, 'Freedom_Score': 0.626006722450256, 'Generosity_Score': 0.3552804887294771, 'Trust_Govt_Score': 0.40077006816863997, 'Dystopia_Score': 2.31370735168457}, {'index': 2, 'Country': 'Iceland', 'Happiness_Score': 7.50400018692017, 'GDP_Per_Capita_Score': 1.480633020401, 'Family_Score': 1.6105740070343, 'Health_Score': 0.8335521221160892, 'Freedom_Score': 0.6271626353263849, 'Generosity_Score': 0.47554022073745705, 'Trust_Govt_Score': 0.15352655947208402, 'Dystopia_Score': 2.32271528244019}, {'index': 3, 'Country': 'Switzerland', 'Happiness_Score': 7.49399995803833, 'GDP_Per_Capita_Score': 1.5649795532226598, 'Family_Score': 1.51691174507141, 'Health_Score': 0.858131289482117, 'Freedom_Score': 0.620070576667786, 'Generosity_Score': 0.29054927825927696, 'Trust_Govt_Score': 0.36700728535652205, 'Dystopia_Score': 2.2767162322998}, {'index': 4, 'Country': 'Finland', 'Happiness_Score': 7.468999862670901, 'GDP_Per_Capita_Score': 1.44357192516327, 'Family_Score': 1.5402467250824, 'Health_Score': 0.80915766954422, 'Freedom_Score': 0.6179508566856379, 'Generosity_Score': 0.24548277258873, 'Trust_Govt_Score': 0.38261154294014, 'Dystopia_Score': 2.4301815032958998}, {'index': 5, 'Country': 'Netherlands', 'Happiness_Score': 7.3769998550415, 'GDP_Per_Capita_Score': 1.50394463539124, 'Family_Score': 1.42893922328949, 'Health_Score': 0.8106961250305179, 'Freedom_Score': 0.5853844881057739, 'Generosity_Score': 0.47048982977867104, 'Trust_Govt_Score': 0.282661825418472, 'Dystopia_Score': 2.29480409622192}, {'index': 6, 'Country': 'Canada', 'Happiness_Score': 7.31599998474121, 'GDP_Per_Capita_Score': 1.47920441627502, 'Family_Score': 1.48134899139404, 'Health_Score': 0.83455765247345, 'Freedom_Score': 0.611100912094116, 'Generosity_Score': 0.435539722442627, 'Trust_Govt_Score': 0.287371516227722, 'Dystopia_Score': 2.18726444244385}, {'index': 7, 'Country': 'New Zealand', 'Happiness_Score': 7.31400012969971, 'GDP_Per_Capita_Score': 1.40570604801178, 'Family_Score': 1.54819512367249, 'Health_Score': 0.816759705543518, 'Freedom_Score': 0.6140621304512021, 'Generosity_Score': 0.500005125999451, 'Trust_Govt_Score': 0.38281670212745705, 'Dystopia_Score': 2.0464563369751}  ... displaying 10 of 155 total bound parameter sets ...  {'index': 153, 'Country': 'Burundi', 'Happiness_Score': 2.90499997138977, 'GDP_Per_Capita_Score': 0.09162256866693501, 'Family_Score': 0.629793584346771, 'Health_Score': 0.151610791683197, 'Freedom_Score': 0.0599007532000542, 'Generosity_Score': 0.20443518459796897, 'Trust_Govt_Score': 0.0841479450464249, 'Dystopia_Score': 1.68302416801453}, {'index': 154, 'Country': 'Central African Republic', 'Happiness_Score': 2.69300007820129, 'GDP_Per_Capita_Score': 0.0, 'Family_Score': 0.0, 'Health_Score': 0.0187726859003305, 'Freedom_Score': 0.270842045545578, 'Generosity_Score': 0.280876487493515, 'Trust_Govt_Score': 0.0565650761127472, 'Dystopia_Score': 2.06600475311279})]
(Background on this error at: http://sqlalche.me/e/2j85)

In [36]:
country_facts_transformed.to_sql(name='country_facts', con=db_engine, if_exists='append', index=True)

In [41]:
db_engine.table_names()

['country_facts', 'happiness']

In [48]:
results = db_engine.execute('select * from country_facts')

In [49]:
for item in results:
    print(item)

(0, 'Afghanistan ', 'ASIA (EX. NEAR EAST)         ', 31056997, 48.0, 647500, 46.6, 20.34)
(1, 'Albania ', 'EASTERN EUROPE                     ', 3581655, 124.6, 28748, 15.11, 5.22)
(2, 'Algeria ', 'NORTHERN AFRICA                    ', 32930091, 13.8, 2381740, 17.14, 4.61)
(3, 'American Samoa ', 'OCEANIA                            ', 57794, 290.4, 199, 22.46, 3.27)
(4, 'Andorra ', 'WESTERN EUROPE                     ', 71201, 152.1, 468, 8.71, 6.25)
(5, 'Angola ', 'SUB-SAHARAN AFRICA                 ', 12127071, 9.7, 1246700, 45.11, 24.2)
(6, 'Anguilla ', 'LATIN AMER. & CARIB    ', 13477, 132.1, 102, 14.17, 5.34)
(7, 'Antigua & Barbuda ', 'LATIN AMER. & CARIB    ', 69108, 156.0, 443, 16.93, 5.37)
(8, 'Argentina ', 'LATIN AMER. & CARIB    ', 39921833, 14.4, 2766890, 16.73, 7.55)
(9, 'Armenia ', 'C.W. OF IND. STATES ', 2976372, 99.9, 29800, 12.07, 8.23)
(10, 'Aruba ', 'LATIN AMER. & CARIB    ', 71891, 372.5, 193, 11.03, 6.68)
(11, 'Australia ', 'OCEANIA                            ', 20264082, 2.6, 7686850, 12.14, 7.51)
(12, 'Austria ', 'WESTERN EUROPE                     ', 8192880, 97.7, 83870, 8.74, 9.76)
(13, 'Azerbaijan ', 'C.W. OF IND. STATES ', 7961619, 91.9, 86600, 20.74, 9.75)
(14, 'Bahamas. The ', 'LATIN AMER. & CARIB    ', 303770, 21.8, 13940, 17.57, 9.05)
(15, 'Bahrain ', 'NEAR EAST                          ', 698585, 1050.5, 665, 17.8, 4.14)
(16, 'Bangladesh ', 'ASIA (EX. NEAR EAST)         ', 147365352, 1023.4, 144000, 29.8, 8.27)
(17, 'Barbados ', 'LATIN AMER. & CARIB    ', 279912, 649.5, 431, 12.71, 8.67)
(18, 'Belarus ', 'C.W. OF IND. STATES ', 10293011, 49.6, 207600, 11.16, 14.02)
(19, 'Belgium ', 'WESTERN EUROPE                     ', 10379067, 340.0, 30528, 10.38, 10.27)
(20, 'Belize ', 'LATIN AMER. & CARIB    ', 287730, 12.5, 22966, 28.84, 5.72)
(21, 'Benin ', 'SUB-SAHARAN AFRICA                 ', 7862944, 69.8, 112620, 38.85, 12.22)
(22, 'Bermuda ', 'NORTHERN AMERICA                   ', 65773, 1241.0, 53, 11.4, 7.74)
(23, 'Bhutan ', 'ASIA (EX. NEAR EAST)         ', 2279723, 48.5, 47000, 33.65, 12.7)
(24, 'Bolivia ', 'LATIN AMER. & CARIB    ', 8989046, 8.2, 1098580, 23.3, 7.53)
(25, 'Bosnia & Herzegovina ', 'EASTERN EUROPE                     ', 4498976, 88.0, 51129, 8.77, 8.27)
(26, 'Botswana ', 'SUB-SAHARAN AFRICA                 ', 1639833, 2.7, 600370, 23.08, 29.5)
(27, 'Brazil ', 'LATIN AMER. & CARIB    ', 188078227, 22.1, 8511965, 16.56, 6.17)
(28, 'British Virgin Is. ', 'LATIN AMER. & CARIB    ', 23098, 151.0, 153, 14.89, 4.42)
(29, 'Brunei ', 'ASIA (EX. NEAR EAST)         ', 379444, 65.8, 5770, 18.79, 3.45)
(30, 'Bulgaria ', 'EASTERN EUROPE                     ', 7385367, 66.6, 110910, 9.65, 14.27)
(31, 'Burkina Faso ', 'SUB-SAHARAN AFRICA                 ', 13902972, 50.7, 274200, 45.62, 15.6)
(32, 'Burma ', 'ASIA (EX. NEAR EAST)         ', 47382633, 69.8, 678500, 17.91, 9.83)
(33, 'Burundi ', 'SUB-SAHARAN AFRICA                 ', 8090068, 290.7, 27830, 42.22, 13.46)
(34, 'Cambodia ', 'ASIA (EX. NEAR EAST)         ', 13881427, 76.7, 181040, 26.9, 9.06)
(35, 'Cameroon ', 'SUB-SAHARAN AFRICA                 ', 17340702, 36.5, 475440, 33.89, 13.47)
(36, 'Canada ', 'NORTHERN AMERICA                   ', 33098932, 3.3, 9984670, 10.78, 7.8)
(37, 'Cape Verde ', 'SUB-SAHARAN AFRICA                 ', 420979, 104.4, 4033, 24.87, 6.55)
(38, 'Cayman Islands ', 'LATIN AMER. & CARIB    ', 45436, 173.4, 262, 12.74, 4.89)
(39, 'Central African Rep. ', 'SUB-SAHARAN AFRICA                 ', 4303356, 6.9, 622984, 33.91, 18.65)
(40, 'Chad ', 'SUB-SAHARAN AFRICA                 ', 9944201, 7.7, 1284000, 45.73, 16.38)
(41, 'Chile ', 'LATIN AMER. & CARIB    ', 16134219, 21.3, 756950, 15.23, 5.81)
(42, 'China ', 'ASIA (EX. NEAR EAST)         ', 1313973713, 136.9, 9596960, 13.25, 6.97)
(43, 'Colombia ', 'LATIN AMER. & CARIB    ', 43593035, 38.3, 1138910, 20.48, 5.58)
(44, 'Comoros ', 'SUB-SAHARAN AFRICA                 ', 690948, 318.4, 2170, 36.93, 8.2)
(45, 'Congo. Dem. Rep. ', 'SUB-SAHARAN AFRICA                 ', 62660551, 26.7, 2345410, 43.69, 13.27)
(46, 'Congo. Repub. of the ', 'SUB-SAHARAN AFRICA                 ', 3702314, 10.8, 342000, 42.57, 12.93)
(47, 'Cook Islands ', 'OCEANIA                            ', 21388, 89.1, 240, 21.0, None)
(48, 'Costa Rica ', 'LATIN AMER. & CARIB    ', 4075261, 79.8, 51100, 18.32, 4.36)
(49, "Cote d'Ivoire ", 'SUB-SAHARAN AFRICA                 ', 17654843, 54.8, 322460, 35.11, 14.84)
(50, 'Croatia ', 'EASTERN EUROPE                     ', 4494749, 79.5, 56542, 9.61, 11.48)
(51, 'Cuba ', 'LATIN AMER. & CARIB    ', 11382820, 102.7, 110860, 11.89, 7.22)
(52, 'Cyprus ', 'NEAR EAST                          ', 784301, 84.8, 9250, 12.56, 7.68)
(53, 'Czech Republic ', 'EASTERN EUROPE                     ', 10235455, 129.8, 78866, 9.02, 10.59)
(54, 'Denmark ', 'WESTERN EUROPE                     ', 5450661, 126.5, 43094, 11.13, 10.36)
(55, 'Djibouti ', 'SUB-SAHARAN AFRICA                 ', 486530, 21.2, 23000, 39.53, 19.31)
(56, 'Dominica ', 'LATIN AMER. & CARIB    ', 68910, 91.4, 754, 15.27, 6.73)
(57, 'Dominican Republic ', 'LATIN AMER. & CARIB    ', 9183984, 188.5, 48730, 23.22, 5.73)
(58, 'East Timor ', 'ASIA (EX. NEAR EAST)         ', 1062777, 70.8, 15007, 26.99, 6.24)
(59, 'Ecuador ', 'LATIN AMER. & CARIB    ', 13547510, 47.8, 283560, 22.29, 4.23)
(60, 'Egypt ', 'NORTHERN AFRICA                    ', 78887007, 78.8, 1001450, 22.94, 5.23)
(61, 'El Salvador ', 'LATIN AMER. & CARIB    ', 6822378, 324.3, 21040, 26.61, 5.78)
(62, 'Equatorial Guinea ', 'SUB-SAHARAN AFRICA                 ', 540109, 19.3, 28051, 35.59, 15.06)
(63, 'Eritrea ', 'SUB-SAHARAN AFRICA                 ', 4786994, 39.5, 121320, 34.33, 9.6)
(64, 'Estonia ', 'BALTICS                            ', 1324333, 29.3, 45226, 10.04, 13.25)
(65, 'Ethiopia ', 'SUB-SAHARAN AFRICA                 ', 74777981, 66.3, 1127127, 37.98, 14.86)
(66, 'Faroe Islands ', 'WESTERN EUROPE                     ', 47246, 33.8, 1399, 14.05, 8.7)
(67, 'Fiji ', 'OCEANIA                            ', 905949, 49.6, 18270, 22.55, 5.65)
(68, 'Finland ', 'WESTERN EUROPE                     ', 5231372, 15.5, 338145, 10.45, 9.86)
(69, 'France ', 'WESTERN EUROPE                     ', 60876136, 111.3, 547030, 11.99, 9.14)
(70, 'French Guiana ', 'LATIN AMER. & CARIB    ', 199509, 2.2, 91000, 20.46, 4.88)
(71, 'French Polynesia ', 'OCEANIA                            ', 274578, 65.9, 4167, 16.68, 4.69)
(72, 'Gabon ', 'SUB-SAHARAN AFRICA                 ', 1424906, 5.3, 267667, 36.16, 12.25)
(73, 'Gambia. The ', 'SUB-SAHARAN AFRICA                 ', 1641564, 145.3, 11300, 39.37, 12.25)
(74, 'Gaza Strip ', 'NEAR EAST                          ', 1428757, 3968.8, 360, 39.45, 3.8)
(75, 'Georgia ', 'C.W. OF IND. STATES ', 4661473, 66.9, 69700, 10.41, 9.23)
(76, 'Germany ', 'WESTERN EUROPE                     ', 82422299, 230.9, 357021, 8.25, 10.62)
(77, 'Ghana ', 'SUB-SAHARAN AFRICA                 ', 22409572, 93.6, 239460, 30.52, 9.72)
(78, 'Gibraltar ', 'WESTERN EUROPE                     ', 27928, 3989.7, 7, 10.74, 9.31)
(79, 'Greece ', 'WESTERN EUROPE                     ', 10688058, 81.0, 131940, 9.68, 10.24)
(80, 'Greenland ', 'NORTHERN AMERICA                   ', 56361, 0.0, 2166086, 15.93, 7.84)
(81, 'Grenada ', 'LATIN AMER. & CARIB    ', 89703, 260.8, 344, 22.08, 6.88)
(82, 'Guadeloupe ', 'LATIN AMER. & CARIB    ', 452776, 254.4, 1780, 15.05, 6.09)
(83, 'Guam ', 'OCEANIA                            ', 171019, 316.1, 541, 18.79, 4.48)
(84, 'Guatemala ', 'LATIN AMER. & CARIB    ', 12293545, 112.9, 108890, 29.88, 5.2)
(85, 'Guernsey ', 'WESTERN EUROPE                     ', 65409, 838.6, 78, 8.81, 10.01)
(86, 'Guinea ', 'SUB-SAHARAN AFRICA                 ', 9690222, 39.4, 245857, 41.76, 15.48)
(87, 'Guinea-Bissau ', 'SUB-SAHARAN AFRICA                 ', 1442029, 39.9, 36120, 37.22, 16.53)
(88, 'Guyana ', 'LATIN AMER. & CARIB    ', 767245, 3.6, 214970, 18.28, 8.28)
(89, 'Haiti ', 'LATIN AMER. & CARIB    ', 8308504, 299.4, 27750, 36.44, 12.17)
(90, 'Honduras ', 'LATIN AMER. & CARIB    ', 7326496, 65.4, 112090, 28.24, 5.28)
(91, 'Hong Kong ', 'ASIA (EX. NEAR EAST)         ', 6940432, 6355.7, 1092, 7.29, 6.29)
(92, 'Hungary ', 'EASTERN EUROPE                     ', 9981334, 107.3, 93030, 9.72, 13.11)
(93, 'Iceland ', 'WESTERN EUROPE                     ', 299388, 2.9, 103000, 13.64, 6.72)
(94, 'India ', 'ASIA (EX. NEAR EAST)         ', 1095351995, 333.2, 3287590, 22.01, 8.18)
(95, 'Indonesia ', 'ASIA (EX. NEAR EAST)         ', 245452739, 127.9, 1919440, 20.34, 6.25)
(96, 'Iran ', 'ASIA (EX. NEAR EAST)         ', 68688433, 41.7, 1648000, 17.0, 5.55)
(97, 'Iraq ', 'NEAR EAST                          ', 26783383, 61.3, 437072, 31.98, 5.37)
(98, 'Ireland ', 'WESTERN EUROPE                     ', 4062235, 57.8, 70280, 14.45, 7.82)
(99, 'Isle of Man ', 'WESTERN EUROPE                     ', 75441, 131.9, 572, 11.05, 11.19)
(100, 'Israel ', 'NEAR EAST                          ', 6352117, 305.8, 20770, 17.97, 6.18)
(101, 'Italy ', 'WESTERN EUROPE                     ', 58133509, 193.0, 301230, 8.72, 10.4)
(102, 'Jamaica ', 'LATIN AMER. & CARIB    ', 2758124, 250.9, 10991, 20.82, 6.52)
(103, 'Japan ', 'ASIA (EX. NEAR EAST)         ', 127463611, 337.4, 377835, 9.37, 9.16)
(104, 'Jersey ', 'WESTERN EUROPE                     ', 91084, 785.2, 116, 9.3, 9.28)
(105, 'Jordan ', 'NEAR EAST                          ', 5906760, 64.0, 92300, 21.25, 2.65)
(106, 'Kazakhstan ', 'C.W. OF IND. STATES ', 15233244, 5.6, 2717300, 16.0, 9.42)
(107, 'Kenya ', 'SUB-SAHARAN AFRICA                 ', 34707817, 59.6, 582650, 39.72, 14.02)
(108, 'Kiribati ', 'OCEANIA                            ', 105432, 130.0, 811, 30.65, 8.26)
(109, 'Korea. North ', 'ASIA (EX. NEAR EAST)         ', 23113019, 191.8, 120540, 15.54, 7.13)
(110, 'Korea. South ', 'ASIA (EX. NEAR EAST)         ', 48846823, 496.0, 98480, 10.0, 5.85)
(111, 'Kuwait ', 'NEAR EAST                          ', 2418393, 135.7, 17820, 21.94, 2.41)
(112, 'Kyrgyzstan ', 'C.W. OF IND. STATES ', 5213898, 26.3, 198500, 22.8, 7.08)
(113, 'Laos ', 'ASIA (EX. NEAR EAST)         ', 6368481, 26.9, 236800, 35.49, 11.55)
(114, 'Latvia ', 'BALTICS                            ', 2274735, 35.2, 64589, 9.24, 13.66)
(115, 'Lebanon ', 'NEAR EAST                          ', 3874050, 372.5, 10400, 18.52, 6.21)
(116, 'Lesotho ', 'SUB-SAHARAN AFRICA                 ', 2022331, 66.6, 30355, 24.75, 28.71)
(117, 'Liberia ', 'SUB-SAHARAN AFRICA                 ', 3042004, 27.3, 111370, 44.77, 23.1)
(118, 'Libya ', 'NORTHERN AFRICA                    ', 5900754, 3.4, 1759540, 26.49, 3.48)
(119, 'Liechtenstein ', 'WESTERN EUROPE                     ', 33987, 212.4, 160, 10.21, 7.18)
(120, 'Lithuania ', 'BALTICS                            ', 3585906, 55.0, 65200, 8.75, 10.98)
(121, 'Luxembourg ', 'WESTERN EUROPE                     ', 474413, 183.5, 2586, 11.94, 8.41)
(122, 'Macau ', 'ASIA (EX. NEAR EAST)         ', 453125, 16183.0, 28, 8.48, 4.47)
(123, 'Macedonia ', 'EASTERN EUROPE                     ', 2050554, 80.9, 25333, 12.02, 8.77)
(124, 'Madagascar ', 'SUB-SAHARAN AFRICA                 ', 18595469, 31.7, 587040, 41.41, 11.11)
(125, 'Malawi ', 'SUB-SAHARAN AFRICA                 ', 13013926, 109.8, 118480, 43.13, 19.33)
(126, 'Malaysia ', 'ASIA (EX. NEAR EAST)         ', 24385858, 74.0, 329750, 22.86, 5.05)
(127, 'Maldives ', 'ASIA (EX. NEAR EAST)         ', 359008, 1196.7, 300, 34.81, 7.06)
(128, 'Mali ', 'SUB-SAHARAN AFRICA                 ', 11716829, 9.5, 1240000, 49.82, 16.89)
(129, 'Malta ', 'WESTERN EUROPE                     ', 400214, 1266.5, 316, 10.22, 8.1)
(130, 'Marshall Islands ', 'OCEANIA                            ', 60422, 5.1, 11854, 33.05, 4.78)
(131, 'Martinique ', 'LATIN AMER. & CARIB    ', 436131, 396.5, 1100, 13.74, 6.48)
(132, 'Mauritania ', 'SUB-SAHARAN AFRICA                 ', 3177388, 3.1, 1030700, 40.99, 12.16)
(133, 'Mauritius ', 'SUB-SAHARAN AFRICA                 ', 1240827, 608.3, 2040, 15.43, 6.86)
(134, 'Mayotte ', 'SUB-SAHARAN AFRICA                 ', 201234, 538.1, 374, 40.95, 7.7)
(135, 'Mexico ', 'LATIN AMER. & CARIB    ', 107449525, 54.5, 1972550, 20.69, 4.74)
(136, 'Micronesia. Fed. St. ', 'OCEANIA                            ', 108004, 153.9, 702, 24.68, 4.75)
(137, 'Moldova ', 'C.W. OF IND. STATES ', 4466706, 132.0, 33843, 15.7, 12.64)
(138, 'Monaco ', 'WESTERN EUROPE                     ', 32543, 16271.5, 2, 9.19, 12.91)
(139, 'Mongolia ', 'ASIA (EX. NEAR EAST)         ', 2832224, 1.8, 1564116, 21.59, 6.95)
(140, 'Montserrat ', 'LATIN AMER. & CARIB    ', 9439, 92.5, 102, 17.59, 7.1)
(141, 'Morocco ', 'NORTHERN AFRICA                    ', 33241259, 74.4, 446550, 21.98, 5.58)
(142, 'Mozambique ', 'SUB-SAHARAN AFRICA                 ', 19686505, 24.6, 801590, 35.18, 21.35)
(143, 'Namibia ', 'SUB-SAHARAN AFRICA                 ', 2044147, 2.5, 825418, 24.32, 18.86)
(144, 'Nauru ', 'OCEANIA                            ', 13287, 632.7, 21, 24.76, 6.7)
(145, 'Nepal ', 'ASIA (EX. NEAR EAST)         ', 28287147, 192.2, 147181, 30.98, 9.31)
(146, 'Netherlands ', 'WESTERN EUROPE                     ', 16491461, 397.1, 41526, 10.9, 8.68)
(147, 'Netherlands Antilles ', 'LATIN AMER. & CARIB    ', 221736, 231.0, 960, 14.78, 6.45)
(148, 'New Caledonia ', 'OCEANIA                            ', 219246, 11.5, 19060, 18.11, 5.69)
(149, 'New Zealand ', 'OCEANIA                            ', 4076140, 15.2, 268680, 13.76, 7.53)
(150, 'Nicaragua ', 'LATIN AMER. & CARIB    ', 5570129, 43.0, 129494, 24.51, 4.45)
(151, 'Niger ', 'SUB-SAHARAN AFRICA                 ', 12525094, 9.9, 1267000, 50.73, 20.91)
(152, 'Nigeria ', 'SUB-SAHARAN AFRICA                 ', 131859731, 142.7, 923768, 40.43, 16.94)
(153, 'N. Mariana Islands ', 'OCEANIA                            ', 82459, 172.9, 477, 19.43, 2.29)
(154, 'Norway ', 'WESTERN EUROPE                     ', 4610820, 14.2, 323802, 11.46, 9.4)
(155, 'Oman ', 'NEAR EAST                          ', 3102229, 14.6, 212460, 36.24, 3.81)
(156, 'Pakistan ', 'ASIA (EX. NEAR EAST)         ', 165803560, 206.2, 803940, 29.74, 8.23)
(157, 'Palau ', 'OCEANIA                            ', 20579, 44.9, 458, 18.03, 6.8)
(158, 'Panama ', 'LATIN AMER. & CARIB    ', 3191319, 40.8, 78200, 21.74, 5.36)
(159, 'Papua New Guinea ', 'OCEANIA                            ', 5670544, 12.3, 462840, 29.36, 7.25)
(160, 'Paraguay ', 'LATIN AMER. & CARIB    ', 6506464, 16.0, 406750, 29.1, 4.49)
(161, 'Peru ', 'LATIN AMER. & CARIB    ', 28302603, 22.0, 1285220, 20.48, 6.23)
(162, 'Philippines ', 'ASIA (EX. NEAR EAST)         ', 89468677, 298.2, 300000, 24.89, 5.41)
(163, 'Poland ', 'EASTERN EUROPE                     ', 38536869, 123.3, 312685, 9.85, 9.89)
(164, 'Portugal ', 'WESTERN EUROPE                     ', 10605870, 114.8, 92391, 10.72, 10.5)
(165, 'Puerto Rico ', 'LATIN AMER. & CARIB    ', 3927188, 284.8, 13790, 12.77, 7.65)
(166, 'Qatar ', 'NEAR EAST                          ', 885359, 77.4, 11437, 15.56, 4.72)
(167, 'Reunion ', 'SUB-SAHARAN AFRICA                 ', 787584, 312.9, 2517, 18.9, 5.49)
(168, 'Romania ', 'EASTERN EUROPE                     ', 22303552, 93.9, 237500, 10.7, 11.77)
(169, 'Russia ', 'C.W. OF IND. STATES ', 142893540, 8.4, 17075200, 9.95, 14.65)
(170, 'Rwanda ', 'SUB-SAHARAN AFRICA                 ', 8648248, 328.4, 26338, 40.37, 16.09)
(171, 'Saint Helena ', 'SUB-SAHARAN AFRICA                 ', 7502, 18.2, 413, 12.13, 6.53)
(172, 'Saint Kitts & Nevis ', 'LATIN AMER. & CARIB    ', 39129, 149.9, 261, 18.02, 8.33)
(173, 'Saint Lucia ', 'LATIN AMER. & CARIB    ', 168458, 273.5, 616, 19.68, 5.08)
(174, 'St Pierre & Miquelon ', 'NORTHERN AMERICA                   ', 7026, 29.0, 242, 13.52, 6.83)
(175, 'Saint Vincent and the Grenadines ', 'LATIN AMER. & CARIB    ', 117848, 303.0, 389, 16.18, 5.98)
(176, 'Samoa ', 'OCEANIA                            ', 176908, 60.1, 2944, 16.43, 6.62)
(177, 'San Marino ', 'WESTERN EUROPE                     ', 29251, 479.5, 61, 10.02, 8.17)
(178, 'Sao Tome & Principe ', 'SUB-SAHARAN AFRICA                 ', 193413, 193.2, 1001, 40.25, 6.47)
(179, 'Saudi Arabia ', 'NEAR EAST                          ', 27019731, 13.8, 1960582, 29.34, 2.58)
(180, 'Senegal ', 'SUB-SAHARAN AFRICA                 ', 11987121, 61.1, 196190, 32.78, 9.42)
(181, 'Serbia ', 'EASTERN EUROPE                     ', 9396411, 106.3, 88361, None, None)
(182, 'Seychelles ', 'SUB-SAHARAN AFRICA                 ', 81541, 179.2, 455, 16.03, 6.29)
(183, 'Sierra Leone ', 'SUB-SAHARAN AFRICA                 ', 6005250, 83.7, 71740, 45.76, 23.03)
(184, 'Singapore ', 'ASIA (EX. NEAR EAST)         ', 4492150, 6482.2, 693, 9.34, 4.28)
(185, 'Slovakia ', 'EASTERN EUROPE                     ', 5439448, 111.4, 48845, 10.65, 9.45)
(186, 'Slovenia ', 'EASTERN EUROPE                     ', 2010347, 99.2, 20273, 8.98, 10.31)
(187, 'Solomon Islands ', 'OCEANIA                            ', 552438, 19.4, 28450, 30.01, 3.92)
(188, 'Somalia ', 'SUB-SAHARAN AFRICA                 ', 8863338, 13.9, 637657, 45.13, 16.63)
(189, 'South Africa ', 'SUB-SAHARAN AFRICA                 ', 44187637, 36.2, 1219912, 18.2, 22.0)
(190, 'Spain ', 'WESTERN EUROPE                     ', 40397842, 80.0, 504782, 10.06, 9.72)
(191, 'Sri Lanka ', 'ASIA (EX. NEAR EAST)         ', 20222240, 308.2, 65610, 15.51, 6.52)
(192, 'Sudan ', 'SUB-SAHARAN AFRICA                 ', 41236378, 16.5, 2505810, 34.53, 8.97)
(193, 'Suriname ', 'LATIN AMER. & CARIB    ', 439117, 2.7, 163270, 18.02, 7.27)
(194, 'Swaziland ', 'SUB-SAHARAN AFRICA                 ', 1136334, 65.5, 17363, 27.41, 29.74)
(195, 'Sweden ', 'WESTERN EUROPE                     ', 9016596, 20.0, 449964, 10.27, 10.31)
(196, 'Switzerland ', 'WESTERN EUROPE                     ', 7523934, 182.2, 41290, 9.71, 8.49)
(197, 'Syria ', 'NEAR EAST                          ', 18881361, 102.0, 185180, 27.76, 4.81)
(198, 'Taiwan ', 'ASIA (EX. NEAR EAST)         ', 23036087, 640.3, 35980, 12.56, 6.48)
(199, 'Tajikistan ', 'C.W. OF IND. STATES ', 7320815, 51.2, 143100, 32.65, 8.25)
(200, 'Tanzania ', 'SUB-SAHARAN AFRICA                 ', 37445392, 39.6, 945087, 37.71, 16.39)
(201, 'Thailand ', 'ASIA (EX. NEAR EAST)         ', 64631595, 125.7, 514000, 13.87, 7.04)
(202, 'Togo ', 'SUB-SAHARAN AFRICA                 ', 5548702, 97.7, 56785, 37.01, 9.83)
(203, 'Tonga ', 'OCEANIA                            ', 114689, 153.3, 748, 25.37, 5.28)
(204, 'Trinidad & Tobago ', 'LATIN AMER. & CARIB    ', 1065842, 207.9, 5128, 12.9, 10.57)
(205, 'Tunisia ', 'NORTHERN AFRICA                    ', 10175014, 62.2, 163610, 15.52, 5.13)
(206, 'Turkey ', 'NEAR EAST                          ', 70413958, 90.2, 780580, 16.62, 5.97)
(207, 'Turkmenistan ', 'C.W. OF IND. STATES ', 5042920, 10.3, 488100, 27.61, 8.6)
(208, 'Turks & Caicos Is ', 'LATIN AMER. & CARIB    ', 21152, 49.2, 430, 21.84, 4.21)
(209, 'Tuvalu ', 'OCEANIA                            ', 11810, 454.2, 26, 22.18, 7.11)
(210, 'Uganda ', 'SUB-SAHARAN AFRICA                 ', 28195754, 119.5, 236040, 47.35, 12.24)
(211, 'Ukraine ', 'C.W. OF IND. STATES ', 46710816, 77.4, 603700, 8.82, 14.39)
(212, 'United Arab Emirates ', 'NEAR EAST                          ', 2602713, 31.4, 82880, 18.96, 4.4)
(213, 'United Kingdom ', 'WESTERN EUROPE                     ', 60609153, 247.6, 244820, 10.71, 10.13)
(214, 'United States ', 'NORTHERN AMERICA                   ', 298444215, 31.0, 9631420, 14.14, 8.26)
(215, 'Uruguay ', 'LATIN AMER. & CARIB    ', 3431932, 19.5, 176220, 13.91, 9.05)
(216, 'Uzbekistan ', 'C.W. OF IND. STATES ', 27307134, 61.0, 447400, 26.36, 7.84)
(217, 'Vanuatu ', 'OCEANIA                            ', 208869, 17.1, 12200, 22.72, 7.82)
(218, 'Venezuela ', 'LATIN AMER. & CARIB    ', 25730435, 28.2, 912050, 18.71, 4.92)
(219, 'Vietnam ', 'ASIA (EX. NEAR EAST)         ', 84402966, 256.1, 329560, 16.86, 6.22)
(220, 'Virgin Islands ', 'LATIN AMER. & CARIB    ', 108605, 56.9, 1910, 13.96, 6.43)
(221, 'Wallis and Futuna ', 'OCEANIA                            ', 16025, 58.5, 274, None, None)