# Economic Index Data
Data Source/Manipulation-
1. past 10 years of country wise economic index data was downloaded as a CSV file from heritage.org.
2. Link-https://www.heritage.org/index/explore?view=by-region-country-year&u=636907699184875439
3. Individual files were mapped with their corresponding two level and three level country codes and corresponding dialing codes using vlookups

In [34]:
# Importing dependencies

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import event, create_engine

Extract CSV into dataframe

csv_file_2019= "resources/data/economic/Economic_Index_Data_2019.csv"
csv_file_2018= "resources/data/economic/Economic_Index_Data_2018.csv"
csv_file_2017= "resources/data/economic/Economic_Index_Data_2017.csv"
csv_file_2016= "resources/data/economic/Economic_Index_Data_2016.csv"
csv_file_2015= "resources/data/economic/Economic_Index_Data_2015.csv"
csv_file_2014= "resources/data/economic/Economic_Index_Data_2014.csv"
csv_file_2013= "resources/data/economic/Economic_Index_Data_2013.csv"
csv_file_2012= "resources/data/economic/Economic_Index_Data_2012.csv"
csv_file_2011= "resources/data/economic/Economic_Index_Data_2011.csv"
csv_file_2010= "resources/data/economic/Economic_Index_Data_2010.csv"
csv_file_2009= "resources/data/economic/Economic_Index_Data_2009.csv"
economic_index_2019_df = pd.read_csv(csv_file_2019)
economic_index_2018_df = pd.read_csv(csv_file_2018)
economic_index_2017_df = pd.read_csv(csv_file_2017)
economic_index_2016_df = pd.read_csv(csv_file_2016)
economic_index_2015_df = pd.read_csv(csv_file_2015)
economic_index_2014_df = pd.read_csv(csv_file_2014)
economic_index_2013_df = pd.read_csv(csv_file_2013)
economic_index_2012_df = pd.read_csv(csv_file_2012)
economic_index_2011_df = pd.read_csv(csv_file_2011)
economic_index_2010_df = pd.read_csv(csv_file_2010)
economic_index_2009_df = pd.read_csv(csv_file_2009)

Combining all 10 years of dataframe into a dataframe

In [49]:
frames=[economic_index_2019_df,economic_index_2018_df,economic_index_2017_df,economic_index_2016_df,economic_index_2015_df,economic_index_2014_df,economic_index_2013_df,economic_index_2012_df,economic_index_2011_df,economic_index_2010_df,economic_index_2009_df]
economic_index_df=pd.concat(frames)
economic_index_df.head()

,name,index year,overall score,property rights,government integrity,judicial effectiveness,tax burden,government spending,fiscal health,business freedom,labor freedom,monetary freedom,trade freedom,investment freedom,financial freedom,A2 (ISO),A3 (UN),NUM (UN),DIALING CODE
0,Afghanistan,2019,51.5,19.6,25.2,29.6,91.7,80.3,99.3,49.2,60.4,76.7,66.0,10.0,10.0,AF,AFG,4,93
1,Albania,2019,66.5,54.8,40.4,30.6,86.3,73.9,80.6,69.3,52.7,81.5,87.8,70.0,70.0,AL,ALB,8,355
2,Algeria,2019,46.2,31.6,28.9,36.2,76.4,48.7,18.7,61.6,49.9,74.9,67.4,30.0,30.0,DZ,DZA,12,213
3,Angola,2019,50.6,35.9,20.5,26.6,83.9,80.7,58.2,55.7,58.8,55.4,61.2,30.0,40.0,AO,AGO,24,244
4,Argentina,2019,52.2,47.8,33.5,44.5,69.3,49.5,33.0,56.4,46.9,60.2,70.0,55.0,60.0,AR,ARG,32,54

Establish connection to local Database

In [57]:
# Establish Connection

rds_connection_string = "root:Happy123$@localhost/"
engine = create_engine(f'mysql://{rds_connection_string}')

In [60]:
# Set engine connection
connection = engine.connect()

In [65]:
# Create new database economic_index_db
#connection.execute('CREATE DATABASE economic_index_db;')

Connect to the database economic_index_db

In [69]:
rds_connection_string = "root:Happy123$@localhost/economic_index_db"
engine = create_engine(f'mysql://{rds_connection_string}')

Use pandas to load csv converted DataFrame into database

In [67]:
# Populate economic_index_db table
economic_index_df.to_sql(name='economic_index',con=engine,if_exists='append',index=False)

In [70]:
engine.table_names()

['economic_index']